body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* This is our hard reset! */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}

html {
  font-size: 62.5%; 
}

body {
  
  box-sizing: border-box; 
}

/******** COLORS  **********/
.color-primary {
  color: #0B0C10;
}

.bg-color-primary {
  background-color: #0B0C10;
}

.color-primary-light {
  color: #1F2833;
}

.bg-color-primary-light {
  background-color: #1F2833;
}

.color-primary-lighest {
  color: #C5C6C7;
}

.bg-color-primary-lighest {
  background-color: #C5C6C7;
}

.color-secondary {
  color: #66FCF1
}

.bg-color-secondary {
  background-color: #66FCF1
}

.color-secondary-light {
  color: #45A29E;
}

.bg-color-secondary-light {
  background-color: #45A29E;
}

.root {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.intro-header {
  width: 100%;
  height: 100%;
  max-height: 512px;
  position: relative;
  background-image: url('./assets/images/header-image-t.jpg');
}

.intro-header .header__info {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 20rem;
  transform: translate(-50%, -50%);
  text-align: center;
}

.intro-header .header__info h1 {
  font-size: 5rem;
  max-width: 100vw;;
}

.intro-header .header__info h2 {
  font-size: 3.8rem;
}
.intro-header .header__info a {
  text-decoration: none;
}
.intro-header .header__info a:visited {
  color: #66FCF1;
}

.intro-header .header__info a:hover {
  color: #45A29E;
}

.intro-header div.arrow-down {
  clip-path: polygon(0 0, 50% 100%, 100% 0%, 50% 20%);
  height: 30px;
  width: 100px;
  position: absolute;
  bottom: 25%;
  left: 50%;
  transform: translateX(-50%);
}

.terminal-text{
  font-family: Courier, monospace;
  display: inline-block;
  font-size: 2.5rem;
  font-weight: 700;
  display: flex;
  justify-content: left;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
}

.terminal-text__typing {
  display: inline-block;
  
}

.terminal-text__typing > span {
  display: inline-block;
  overflow: hidden;
  letter-spacing: 1.5px;
  animation: blink .75s step-end infinite;
  white-space: nowrap;
  border-right: 4px solid #66FCF1;
  box-sizing: border-box;
  width: 0%;
  float: left;
}

@keyframes typing {
  from {  width: 0% }
	to { width: 100% }
}

@keyframes delete {
  from {
    width: 100%
  }
  to {
    width: 0%;
  }
}

@keyframes blink {
	from, to { 
		border-color: transparent 
	}
	50% { 
		border-color: #66FCF1; 
	}
}

@media screen and (min-width: 768px) {
  .intro-header {
    background-image: url('./assets/images/header-image-d.jpg');
    max-height: 512px;
  }
  .terminal-text{
    width: 400px;
  }
}

@media screen and (min-width: 1024px) {
  .intro-header {
    background-image: url('./assets/images/header-image-dhd.jpg');
    max-height: 683px;
  }
}

@media screen and (min-width: 1420px) {
  .intro-header {
    background-image: url('./assets/images/header-image-dhd-2.jpg');
    max-height: 947px;
  }
}

@media screen and (min-width: 1800px) {
  .intro-header {
    background-image: url('./assets/images/header-image-dhd-3.jpg');
  }
}