.debug {
  background-color: orange;
}

body {
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* This is our hard reset! */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}

html {
  font-size: 62.5%; 
  scroll-behavior: smooth;
}

body {
  
  box-sizing: border-box; 
}

.hidden, .about-me-hidden, .about-me-hidden-div, .projects-hidden, .projects-hidden-div, .blogs-hidden, .blogs-hidden-div, .contact-hidden, .contact-hidden-div {
  opacity: 0;
}

/*================ Colors ================*/
.color-primary {
  color: #2B2B2B;
}

.bg-color-primary {
  background-color: #2B2B2B;
}

.color-primary-light {
  color: #EBEEEE;
}

.bg-color-primary-light {
  background-color: #EBEEEE;
}

.color-primary-lightest {
  color: #fff;
}

.bg-color-primary-lightest {
  color: #fff;
}

.color-secondary {
  color: #11ABB0
}

.bg-color-secondary {
  background-color: #11ABB0
}

/* Footer */
footer img:hover, footer a:hover img, .arrow-down img:hover {
  filter: invert(47%) sepia(95%) saturate(655%) hue-rotate(140deg) brightness(91%) contrast(87%);
}

/*================ Header ================*/

header {
  color: white;
  /* background-image */
  background-image: url('http://stage.adanconstanzo.com/assets/images/header-image-dhd-2-min.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #15151B;
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
}

header .sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #2B2B2B;
  z-index: 5;
  animation: 0.4s linear fadeIn forwards;
}

.header-info{
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  
}

.header-info__h1 {
  font-size: 5rem;
  backface-visibility: visible !important;
  animation: 1s linear 0s fadeInLeft;

}

.header-info__h2 {
  font-size: 3rem;
  opacity: 0;
  animation: 2s linear 1s flipInX forwards;
}

.arrow-down {
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
  width: 5rem;
  height: 5rem;
  cursor: pointer;
}

.arrow-down img {
  transition: .3s ease-in-out;
}

.arrow-down__icon {
  position: absolute;
  height: 5rem;
  width: 5rem;
  z-index: 1; 
}


/* header nav {
  display: none;
} */

/*================ About Me ================*/

.about-me__section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 2rem 10vw;
}
.about-me__img--div {
  display: none;
}
.about-me__img {
  border-radius: 8rem;
  width: 30vw;
  max-width: 25rem;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.about-me {
  width: 80vw;
  height: 100%;
}

.about-me__h2 {
  text-align: center;
  font-size: 3rem;
}

.about-me__p {
  font-size: 2rem;
  padding-bottom: 2rem;
  max-width: 60rem;
  margin: 0 auto;
}

.about-me__h3 {
  text-align: center;
  font-size: 3rem;
}

/*================ Projects ================*/

.projects__h2, .footer__h2, .blogs__h2 {
  line-height: 1;
  font-size: 2.5rem;
  text-align: center;
  padding-bottom: 3rem;
}
.projects__wrapper {
  display: grid;
  margin: 0 auto;
  width: 90vw;
  grid-template-columns: auto auto;
  grid-row-gap: 3rem;
  padding-bottom: 3rem;
}
.projects__wrapper > div > img {
  display: block;
  border-radius: 2.5rem;
  width: 12rem;
  margin: 0 auto;
  cursor: pointer;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.projects__wrapper > div > img:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  box-shadow: 0 0 3rem 0.1rem #11ABB0;
}

/*================ Blogs ================*/

.blogs_wrapper {
  display: grid;
  margin: 0 auto;
  width: 90vw;
  grid-template-columns: auto auto;
  grid-row-gap: 3rem;
  padding-bottom: 3rem;
}

.blogs_wrapper > div > img {
  display: block;
  margin: 0 auto;
  border-radius: 2.5rem;
  width: 15rem;
}

/*================ Section & Footer ================*/

section, footer {
  padding: 3rem 0;
}

.footer__icon__wrapper {
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  text-align: center;
}

.footer__icon__wrapper > div {
  width: 100%;
}

.footer__icon__wrapper > div:not(:last-child) {
  padding-bottom: 3rem;
}

.footer__icon__wrapper > div > a, .footer__icon__wrapper > div > a > img {
  transition: 0.35s ease-in;
}

.footer__icon__wrapper a, .footer__icon__wrapper a:visited {
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
}

.footer__icon__wrapper a:hover {
  color: #11ABB0;
}

/*================ Animations ================*/
@keyframes flipInX {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    opacity: 1;
  }

  to {
    transform: perspective(400px);
    opacity: 1;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.animation-jump {
  animation: 1s linear bounceIn forwards;
}
.animation-zoomIn {
  animation: 1s linear 1s zoomIn;
}
.animation-fadeIn {
  animation: 1s linear fadeIn forwards;
}

.animation-fadeInDown {
  animation: 1s linear fadeInDown forwards;
}


/* BLOG GRIDS */

.blogs {
  height: 100%;
}

.grid {
	position: relative;
	margin: 0 auto;
	max-width: 100rem;
	list-style: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

/* Common style */
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 1rem 1rem;
	min-width: 280px;
	max-width: 480px;
	max-height: 375px;
	width: 48%;
	text-align: center;
  cursor: pointer;
  border-radius: 1rem;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
  opacity: 0.4;
  -webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}


.grid figure figcaption {
	padding: 2em;
	color: #fff;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

figure.effect-sadie h2.color-black {
  color: #000;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
  font-size: 1.5rem;
}

/* Individual effects */


/*---------------*/
/***** Sadie *****/
/*---------------*/

figure.effect-sadie figcaption::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: -webkit-linear-gradient(top, rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%);
	background: linear-gradient(to bottom, rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%);
	content: '';
	opacity: 0;
	-webkit-transform: translate3d(0,50%,0);
	transform: translate3d(0,50%,0);
}

figure.effect-sadie h2 {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	color: #484c61;
	-webkit-transition: -webkit-transform 0.35s, color 0.35s;
	transition: transform 0.35s, color 0.35s;
	-webkit-transform: translate3d(0,-50%,0);
  transform: translate3d(0,-50%,0);
  font-size: 1.8rem;
  color: #fff;
}

figure.effect-sadie figcaption::before,
figure.effect-sadie p {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-sadie p {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 2em;
	width: 100%;
	opacity: 0;
	-webkit-transform: translate3d(0,10px,0);
	transform: translate3d(0,10px,0);
}

figure.effect-sadie:hover h2 {
	color: #fff;
	-webkit-transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
	transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
}

figure.effect-sadie:hover figcaption::before ,
figure.effect-sadie:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-sadie:hover img {
  opacity: 1;
}

/*================ Terminal Text CSS ================*/

.terminal-text{
  font-family: Courier, monospace;
  display: inline-block;
  font-size: 2.5rem;
  font-weight: 700;
  display: flex;
  justify-content: left;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
}

.terminal-text__typing {
  display: inline-block;
}

.terminal-text__typing > span {
  display: inline-block;
  overflow: hidden;
  letter-spacing: 1.5px;
  animation: blink .75s step-end infinite;
  white-space: nowrap;
	border-right: 4px solid #11ABB0;
	color: #11ABB0;
  box-sizing: border-box;
  width: 0%;
  float: left;
}

@keyframes typing {
  from {  width: 0% }
	to { width: 100% }
}

@keyframes delete {
  from {
    width: 100%
  }
  to {
    width: 0%;
  }
}

@keyframes blink {
	from, to { 
		border-color: transparent 
	}
	50% { 
		border-color: #11ABB0; 
	}
}


/* medium size phone */
@media screen and (min-width: 350px) {

  /*================ Projects 350 ================*/
  
  .projects__wrapper > div > img {
    width: 15rem;
  }
}

@media screen and (min-width: 530px) {

  /*================ Footer 530 ================*/

  .footer__icon__wrapper {
    justify-content: space-evenly;
    flex-direction: row;
  }
  .footer__icon__wrapper > div {
    width: 22rem;
  }
  .footer__icon__wrapper > div:not(:last-child) {
    padding-bottom: 0;
  }
}

/* tablet */
@media screen and (min-width: 768px) {

  /*================ Header 768 ================*/
  
  .header-info__h1 {
    font-size: 6rem;
  }
  
  /*================ About Me 768 ================*/
  
  .about-me__img--div {
    width: 30vw;
    height: 27rem;
    position: relative;
    display: block;
  }

  .about-me {
    width: 50vw;
  }
  .about-me__section {
    justify-content: space-evenly;
    padding: 2rem 0;
  }

  /*================ Blog 768 ================*/
  figure.effect-sadie h2 {
    font-size: 2.2rem;
  }

  .grid figure p {
    font-size: 2rem;
  }

  /*================ Footer 768 ================*/
  
  .footer__icon__wrapper {
    margin: 0 auto;
    padding-bottom: 5rem;
    width: 80vw;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
  }

  .footer__icon__wrapper > div {
    width: 22rem;
  }

  .footer__icon__wrapper a, .footer__icon__wrapper a:visited {
    font-size: 2rem;
    color: black;
    text-decoration: none;
    -webkit-transition: color 0.35s;
    transition: color 0.35s;
  }
  
  .footer__icon__wrapper a:hover {
    color: #11ABB0;
  }

  /*================ Terminal 768 ================*/
  
  .terminal-text{
    width: 400px;
  }

}
/* desktop (laptops) */
@media screen and (min-width: 1024px) {

  /*================ Nav 1024 ================*/
  
  header nav > ul {
    list-style-type: none;
    width: 90vw;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
  }

  header > nav > ul > li {
    padding: 2rem;
    font-size: 2.5rem;
    min-width: 17rem;
    text-align: center;
    -webkit-transition: bold 0.35s ease-in, color 0.35s ease-in;
    -moz-transition: bold 0.35s ease-in, color 0.35s ease-in;
    -o-transition: bold 0.35s ease-in, color 0.35s ease-in;
    transition: bold 0.35s ease-in, color 0.35s ease-in;
  }

  header > nav > ul > li:hover, header > nav > ul > li.active {
    cursor: pointer;
    color: #11ABB0;
    font-weight: bold;
  }

  /*================ About Me 1024 ================*/

  .about-me__section {
    padding: 2rem 10vw;
  }
  
  /*================ Projects 1024 ================*/
  
  .projects__h2, .footer__h2, .blogs__h2 {
    font-size: 4rem;
    padding-bottom: 5rem;
  }
  
  .projects__wrapper {
    width: 70vw;
    grid-template-columns: auto auto auto auto;
  }

  /*================ Blogs 1024 ================*/
  
  .blogs_wrapper {
    width: 70vw;
    grid-template-columns: auto auto auto auto;
  }

  .grid {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }

  figure.effect-sadie h2 {
    font-size: 2.5rem;
  }
  
  /*================ Footer 1024 ================*/
  
  .footer__icon__wrapper {
    width: 60vw;
  }

  /*================ Section & Footer 1024 ================*/
  
  section, footer {
    padding: 5rem 0;
  }
}
/* desktop HD */
@media screen and (min-width: 1420px) {
  
  /*================ About Me 1420 ================*/
  
  .about-me__img--div {
    height: 30vw;
    width: 30vw;
  }

  .about-me__img {
    width: 30vw;
    max-width: 35rem;
  }

  .about-me__h2 {
    font-size: 4rem;
  }

  .about-me {
    width: 40vw;
  }

  .about-me__p {
    font-size: 2.5rem;
  }

  /*================ Projects 1420 ================*/
  
  .projects__h2, .footer__h2, .blogs__h2 {
    font-size: 3.5rem;
    padding-bottom: 10rem;
  }

  .projects__wrapper {
    grid-row-gap: 5rem;
    padding-bottom: 5rem;
  }

  .projects__wrapper > div > img {
    width: 20rem;
  }
  
  /*================ Blogs 1420 ================*/
  
  .grid {
    max-width: 120rem;
  }
  .grid figure {
    max-width: 58rem;
    max-height: 43.5rem;
  }


  /*================ Section & Footer 1420 ================*/
  
  section, footer {
    padding: 10rem 0;
  }
}