.terminal-text{
  font-family: Courier, monospace;
  display: inline-block;
  font-size: 3rem;
  font-weight: 700;
  display: flex;
  justify-content: left;
  padding-left: 2rem;
}

.terminal-text__typing {
  display: inline-block;
  
}

.terminal-text__typing > span {
  display: inline-block;
  overflow: hidden;
  letter-spacing: 1.5px;
  animation: blink .75s step-end infinite;
  white-space: nowrap;
  border-right: 4px solid #66FCF1;
  box-sizing: border-box;
  width: 0%;
  float: left;
}

@keyframes typing {
  from { 
	  width: 0% 
	}
	to { 
		width: 100% 
	}
}

@keyframes delete {
  from {
    width: 100%
  }
  to {
    width: 0%;
  }
}

@keyframes blink {
	from, to { 
		border-color: transparent 
	}
	50% { 
		border-color: #66FCF1; 
	}
}